.landing__paragraph-wrapper {
    max-width: 800px;
}

.Landing__paragraph {
    font-size: 28px;
}

@media only screen and (max-width: 560px) {
    .landing--img {
        display: none;
    }
}

@media only screen and (min-width: 561px) {
    .landing--img_small {
        display: none;
    }
}