body {
    background-color: rgb(225, 228, 230);
}

.content {
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
}

.images {
    width: 450px;
    height: 450px;
}

@media only screen and (max-width: 470px) {
    .images {
        display: none;
    }
}

@media only screen and (min-width: 471px) {
    .images_small {
        display: none;
    }
}